<!DOCTYPE html>
<html>
<head>
	<title><%= title %> | Artist | </title>
</head>
 <body>
  <h1>Artist</h1>
   <table>
    <thead>
     <tr>
  	 <th>Artist</th>
  	 <th>Genre</th>
  	 <th>Bio</th>
    </tr>
   </thead>
  <tbody>

   </tbody>
  </table>
 </body>
</html>