<!DOCTYPE html>
<html>
<head>
	<title><%+ title %> | Node Tunes | Add Artist</title>
</head>
<body>
<h1> NodeTunes | Add Artist </h1>
<form action="/artist" method="POST">
Artist: <input name="artist" type="text" placeholder="Artist">
Genre:
<select name="genre">
<option value="Rock">Rock</option>
<option value="Country">Country</option>
<option value="Pop">Pop</option>
<option value="Blues">Blues</option>
<option value="Jazz">Jazz</option>
<option value="Hip Hop">Hip Hop</option>
<option value="Classical">Classical</option>
</select>
<input type="submit" placeholder="Add Artist" vaule="Add to artist list"</input>
</form>
<h1>Node Tunes | Search Artist </h1>
<form action="/album" method="POST">
Artist: <input name="artist" type="text" placeholder="Artist">
<input type="search" placeholder="Search" value="search">
</form>
</body>
</html>